## 1. Preparação dos Dados:

In [1]:
import pandas as pd

In [2]:
#df_pj = pd.read_csv('PF_tratados.csv')
df_pf = pd.read_csv('../dados/PF_tratados.csv')
df_pf.head()

,ID Cliente,Linha de Ação,Produto GPOM,Data de Venda,Classe de Serviço,Data de Nascimento,Gênero,Cidade,Microrregião,Estado,Fim de Vigência,Tipo Pessoa,Área de Atuação,Área de Atuação e Produto GPOM,Idade,Tempo de Contrato,Longitude,Latitude
0,56943,EDUCACAO,COLEGIO SESI NOVO ENSINO MEDIO,2022-10-28,ENSINO MEDIO – ITINERARIOS,2008-05-16,MASCULINO,CURITIBA,CURITIBA,PR,2023-12-15,FÍSICA,NÃO INFORMADO,COLEGIO SESI NOVO ENSINO MEDIO / NÃO INFORMADO,14,413,-49.264622,-25.419547
1,19906,EDUCACAO,EDUCACAO INFANTIL,2023-01-13,EDUCACAO INFANTIL - PRE-ESCOLA,1981-08-13,FEMININO,CURITIBA,CURITIBA,PR,2023-12-25,FÍSICA,NÃO INFORMADO,EDUCACAO INFANTIL / NÃO INFORMADO,41,346,-49.264622,-25.419547
2,19906,EDUCACAO,ENSINO FUNDAMENTAL INTERNACIONAL,2021-10-07,ENSINO FUNDAMENTAL - 1º AO 5º ANO,1981-08-13,FEMININO,CURITIBA,CURITIBA,PR,2022-12-14,FÍSICA,NÃO INFORMADO,ENSINO FUNDAMENTAL INTERNACIONAL / NÃO INFORMADO,40,433,-49.264622,-25.419547
3,19906,EDUCACAO,ENSINO FUNDAMENTAL INTERNACIONAL,2023-01-13,ENSINO FUNDAMENTAL - 1º AO 5º ANO,1981-08-13,FEMININO,CURITIBA,CURITIBA,PR,2023-12-25,FÍSICA,NÃO INFORMADO,ENSINO FUNDAMENTAL INTERNACIONAL / NÃO INFORMADO,41,346,-49.264622,-25.419547
4,6940,EDUCACAO,COLEGIO SESI INTERNACIONAL,2021-10-14,ENSINO MEDIO,2006-11-01,FEMININO,CURITIBA,CURITIBA,PR,2022-12-14,FÍSICA,NÃO INFORMADO,COLEGIO SESI INTERNACIONAL / NÃO INFORMADO,14,426,-49.264622,-25.419547

In [3]:
df_pf['Produto GPOM'].value_counts()

Produto GPOM
TECNICO DE NIVEL MEDIO                                    38282
APERFEICOAMENTO PROFISSIONAL                               9126
GRADUACAO                                                  8755
QUALIFICACAO PROFISSIONAL                                  6914
COLEGIO SESI NOVO ENSINO MEDIO                             5938
COLEGIO SESI                                               4537
EDUCACAO CONTINUADA                                        3490
ENSINO FUNDAMENTAL INTERNACIONAL                           2944
COLEGIO SESI NOVO ENSINO MEDIO INTERNACIONAL                724
COLEGIO SESI INTERNACIONAL                                  635
POS-GRADUACAO                                               595
EJA                                                         428
CURSOS DE EXTENSAO                                          407
EDUCACAO INFANTIL                                           378
APERFEICOAMENTO PROFISSIONAL - E-COMMERCE                   193
INICIACAO PROFISSIONAL                                      135
VACINACAO                                                   110
COLEGIO SESI NOVO ENSINO MEDIO INTERNACIONAL TRILINGUE       94
ENSINO FUNDAMENTAL                                           85
COLEGIO SESI INTERNACIONAL TRILINGUE                         25
CARTAO VIVA +                                                17
EDUCACAO EXECUTIVA                                           15
APERFEICOAMENTO PROFISSIONAL - ACOES MOVEIS                  13
TESTAGEM COVID IMUNOLOGICO                                    9
QUALIFICACAO PROFISSIONAL - ACOES MOVEIS                      5
NAO SE APLICA                                                 4
ACADEMIA SESI                                                 4
ATIVIDADES LIVRES                                             4
PROGRAMAS DE SAUDE E SEGURANCA                                2
METROLOGIA                                                    1
EDUCACAO ABERTA                                               1
AUXILIO DIAGNOSTICO                                           1
LAUDOS                                                        1
Name: count, dtype: int64

In [4]:
cols_del = ['Data de Venda', 'Data de Nascimento', 'Fim de Vigência', 'Tipo Pessoa','Longitude', 'Latitude']
df_pf = df_pf.drop(cols_del, axis=1)

In [5]:
df_pf['TargetA'] = df_pf['Produto GPOM'].apply(lambda x: 1 if x == 'APERFEICOAMENTO PROFISSIONAL' else 0)
df_pf['TargetB'] = df_pf['Produto GPOM'].apply(lambda x: 1 if x == 'GRADUACAO' else 0)
df_pf['TargetC'] = df_pf['Produto GPOM'].apply(lambda x: 1 if x == 'QUALIFICACAO PROFISSIONAL' else 0)
df_pf['TargetD'] = df_pf['Produto GPOM'].apply(lambda x: 1 if x == 'COLEGIO SESI NOVO ENSINO MEDIO' else 0)

In [6]:
df_pf.head()

,ID Cliente,Linha de Ação,Produto GPOM,Classe de Serviço,Gênero,Cidade,Microrregião,Estado,Área de Atuação,Área de Atuação e Produto GPOM,Idade,Tempo de Contrato,TargetA,TargetB,TargetC,TargetD
0,56943,EDUCACAO,COLEGIO SESI NOVO ENSINO MEDIO,ENSINO MEDIO – ITINERARIOS,MASCULINO,CURITIBA,CURITIBA,PR,NÃO INFORMADO,COLEGIO SESI NOVO ENSINO MEDIO / NÃO INFORMADO,14,413,0,0,0,1
1,19906,EDUCACAO,EDUCACAO INFANTIL,EDUCACAO INFANTIL - PRE-ESCOLA,FEMININO,CURITIBA,CURITIBA,PR,NÃO INFORMADO,EDUCACAO INFANTIL / NÃO INFORMADO,41,346,0,0,0,0
2,19906,EDUCACAO,ENSINO FUNDAMENTAL INTERNACIONAL,ENSINO FUNDAMENTAL - 1º AO 5º ANO,FEMININO,CURITIBA,CURITIBA,PR,NÃO INFORMADO,ENSINO FUNDAMENTAL INTERNACIONAL / NÃO INFORMADO,40,433,0,0,0,0
3,19906,EDUCACAO,ENSINO FUNDAMENTAL INTERNACIONAL,ENSINO FUNDAMENTAL - 1º AO 5º ANO,FEMININO,CURITIBA,CURITIBA,PR,NÃO INFORMADO,ENSINO FUNDAMENTAL INTERNACIONAL / NÃO INFORMADO,41,346,0,0,0,0
4,6940,EDUCACAO,COLEGIO SESI INTERNACIONAL,ENSINO MEDIO,FEMININO,CURITIBA,CURITIBA,PR,NÃO INFORMADO,COLEGIO SESI INTERNACIONAL / NÃO INFORMADO,14,426,0,0,0,0

In [7]:
df_pf[df_pf['Produto GPOM'] == 'APERFEICOAMENTO PROFISSIONAL']
df_pf[df_pf['Produto GPOM'] == 'GRADUACAO']
df_pf[df_pf['Produto GPOM'] == 'QUALIFICACAO PROFISSIONAL']
df_pf[df_pf['Produto GPOM'] == 'COLEGIO SESI NOVO ENSINO MEDIO']

,ID Cliente,Linha de Ação,Produto GPOM,Classe de Serviço,Gênero,Cidade,Microrregião,Estado,Área de Atuação,Área de Atuação e Produto GPOM,Idade,Tempo de Contrato,TargetA,TargetB,TargetC,TargetD
0,56943,EDUCACAO,COLEGIO SESI NOVO ENSINO MEDIO,ENSINO MEDIO – ITINERARIOS,MASCULINO,CURITIBA,CURITIBA,PR,NÃO INFORMADO,COLEGIO SESI NOVO ENSINO MEDIO / NÃO INFORMADO,14,413,0,0,0,1
8,55920,EDUCACAO,COLEGIO SESI NOVO ENSINO MEDIO,ENSINO MEDIO – ITINERARIOS,FEMININO,CURITIBA,CURITIBA,PR,NÃO INFORMADO,COLEGIO SESI NOVO ENSINO MEDIO / NÃO INFORMADO,15,427,0,0,0,1
11,52969,EDUCACAO,COLEGIO SESI NOVO ENSINO MEDIO,NOVO ENSINO MEDIO,FEMININO,CURITIBA,CURITIBA,PR,NÃO INFORMADO,COLEGIO SESI NOVO ENSINO MEDIO / NÃO INFORMADO,14,438,0,0,0,1
12,18923,EDUCACAO,COLEGIO SESI NOVO ENSINO MEDIO,ENSINO MEDIO – ITINERARIOS,MASCULINO,CURITIBA,CURITIBA,PR,NÃO INFORMADO,COLEGIO SESI NOVO ENSINO MEDIO / NÃO INFORMADO,14,324,0,0,0,1
13,18923,EDUCACAO,COLEGIO SESI NOVO ENSINO MEDIO,ENSINO MEDIO – ITINERARIOS,MASCULINO,CURITIBA,CURITIBA,PR,NÃO INFORMADO,COLEGIO SESI NOVO ENSINO MEDIO / NÃO INFORMADO,15,381,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78537,5090,EDUCACAO,COLEGIO SESI NOVO ENSINO MEDIO,NOVO ENSINO MEDIO,MASCULINO,FLORIANÓPOLIS,OUTRO ESTADO,SC,NÃO INFORMADO,COLEGIO SESI NOVO ENSINO MEDIO / NÃO INFORMADO,16,184,0,0,0,1
78546,80975,EDUCACAO,COLEGIO SESI NOVO ENSINO MEDIO,NOVO ENSINO MEDIO,MASCULINO,SANTA TEREZA DO OESTE,CASCAVEL,PR,NÃO INFORMADO,COLEGIO SESI NOVO ENSINO MEDIO / NÃO INFORMADO,14,324,0,0,0,1
78547,80975,EDUCACAO,COLEGIO SESI NOVO ENSINO MEDIO,NOVO ENSINO MEDIO,MASCULINO,SANTA TEREZA DO OESTE,CASCAVEL,PR,NÃO INFORMADO,COLEGIO SESI NOVO ENSINO MEDIO / NÃO INFORMADO,14,411,0,0,0,1
78597,9905,EDUCACAO,COLEGIO SESI NOVO ENSINO MEDIO,ENSINO MEDIO – ITINERARIOS,FEMININO,PINHÃO,GUARAPUAVA,PR,NÃO INFORMADO,COLEGIO SESI NOVO ENSINO MEDIO / NÃO INFORMADO,15,121,0,0,0,1
78598,9905,EDUCACAO,COLEGIO SESI NOVO ENSINO MEDIO,ENSINO MEDIO – ITINERARIOS,FEMININO,PINHÃO,GUARAPUAVA,PR,NÃO INFORMADO,COLEGIO SESI NOVO ENSINO MEDIO / NÃO INFORMADO,15,421,0,0,0,1

In [8]:
from sklearn.preprocessing import LabelEncoder
s = (df_pf.dtypes == 'object')
object_cols = list(s[s].index)
LE=LabelEncoder()
for i in object_cols:
    df_pf[i]=df_pf[[i]].apply(LE.fit_transform)

In [9]:
from sklearn.preprocessing import StandardScaler

In [10]:
df_pf

,ID Cliente,Linha de Ação,Produto GPOM,Classe de Serviço,Gênero,Cidade,Microrregião,Estado,Área de Atuação,Área de Atuação e Produto GPOM,Idade,Tempo de Contrato,TargetA,TargetB,TargetC,TargetD
0,56943,0,10,15,1,140,10,16,17,40,14,413,0,0,0,1
1,19906,0,17,9,0,140,10,16,17,47,41,346,0,0,0,0
2,19906,0,20,12,0,140,10,16,17,50,40,433,0,0,0,0
3,19906,0,20,12,0,140,10,16,17,50,41,346,0,0,0,0
4,6940,0,8,14,0,140,10,16,17,38,14,426,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83867,13908,0,30,39,1,44,30,16,14,86,41,176,0,0,0,0
83868,60900,0,1,1,1,222,6,16,7,17,29,11,1,0,0,0
83869,1045,0,1,1,1,135,20,21,2,13,19,85,1,0,0,0
83870,69940,0,1,1,1,306,24,16,20,30,30,4,1,0,0,0
83871,6950,0,30,39,0,457,13,16,23,94,45,0,0,0,0,0

In [11]:
std=StandardScaler()
df_scaled = df_pf.copy()

colunas = ['Linha de Ação', 'Produto GPOM', 'Classe de Serviço',
                    'Cidade', 'Microrregião', 'Estado', 'Área de Atuação',
                    'Área de Atuação e Produto GPOM', 'Idade', 'Tempo de Contrato']

df_scaled[colunas] = std.fit_transform(df_scaled[colunas])

## 2. Treinamento da Árvore de Decisão:

In [12]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report

def treinar_e_avaliar_produto(nome_produto, df_scaled):
    # Dividir os dados em treino e teste
    X_train, X_test, y_train, y_test = train_test_split(
        df_scaled[['Idade', 'Gênero', 'Microrregião']],
        df_scaled[f'Target{nome_produto}'],
        test_size=0.3,
        random_state=42
    )

    # Treinar árvore de decisão
    modelo = DecisionTreeClassifier()
    modelo.fit(X_train, y_train)

    
    y_pred = modelo.predict(X_test)
    accuracy = accuracy_score(y_test, y_pred)
    print(f'Acurácia para {nome_produto}: {accuracy}')
    print(classification_report(y_test,y_pred))
    return modelo, accuracy

modelo_produtoA, accuracy_produtoA = treinar_e_avaliar_produto('A', df_scaled)

modelo_produtoB, accuracy_produtoB = treinar_e_avaliar_produto('B', df_scaled)

modelo_produtoC, accuracy_produtoC = treinar_e_avaliar_produto('C', df_scaled)

modelo_produtoD, accuracy_produtoC = treinar_e_avaliar_produto('D', df_scaled)

Acurácia para A: 0.8911851204196805
              precision    recall  f1-score   support

           0       0.90      0.99      0.94     22426
           1       0.50      0.10      0.17      2736

    accuracy                           0.89     25162
   macro avg       0.70      0.54      0.55     25162
weighted avg       0.86      0.89      0.86     25162

Acurácia para B: 0.9075192750973691
              precision    recall  f1-score   support

           0       0.92      0.98      0.95     22469
           1       0.64      0.30      0.41      2693

    accuracy                           0.91     25162
   macro avg       0.78      0.64      0.68     25162
weighted avg       0.89      0.91      0.89     25162

Acurácia para C: 0.9146729194817582
              precision    recall  f1-score   support

           0       0.92      1.00      0.96     23058
           1       0.18      0.01      0.01      2104

    accuracy                           0.91     25162
   macro avg       0.55      0.50      0.48     25162
weighted avg       0.85      0.91      0.88     25162

Acurácia para D: 0.9398696447023289
              precision    recall  f1-score   support

           0       0.95      0.98      0.97     23391
           1       0.63      0.36      0.46      1771

    accuracy                           0.94     25162
   macro avg       0.79      0.67      0.71     25162
weighted avg       0.93      0.94      0.93     25162

## Random Forest

In [13]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report

def treinar_e_avaliar_produto(nome_produto, df_scaled):
    # Dividir os dados em treino e teste
    X_train, X_test, y_train, y_test = train_test_split(
        df_scaled[['Idade', 'Gênero', 'Microrregião']],
        df_scaled[f'Target{nome_produto}'],
        test_size=0.3,
        random_state=42
    )

    # Treinar Random Forest
    modelo = RandomForestClassifier()
    modelo.fit(X_train, y_train)

    y_pred = modelo.predict(X_test)
    accuracy = accuracy_score(y_test, y_pred)
    print(f'Acurácia para {nome_produto}: {accuracy}')
    print(classification_report(y_test,y_pred))
    return modelo, accuracy

modelo_produtoA, accuracy_produtoA = treinar_e_avaliar_produto('A', df_scaled)

modelo_produtoB, accuracy_produtoB = treinar_e_avaliar_produto('B', df_scaled)

modelo_produtoC, accuracy_produtoC = treinar_e_avaliar_produto('C', df_scaled)

modelo_produtoD, accuracy_produtoD = treinar_e_avaliar_produto('D', df_scaled)

Acurácia para A: 0.8907479532628567
              precision    recall  f1-score   support

           0       0.90      0.99      0.94     22426
           1       0.49      0.12      0.19      2736

    accuracy                           0.89     25162
   macro avg       0.70      0.55      0.57     25162
weighted avg       0.86      0.89      0.86     25162

Acurácia para B: 0.9074397901597647
              precision    recall  f1-score   support

           0       0.92      0.98      0.95     22469
           1       0.64      0.31      0.41      2693

    accuracy                           0.91     25162
   macro avg       0.78      0.64      0.68     25162
weighted avg       0.89      0.91      0.89     25162

Acurácia para C: 0.9147524044193626
              precision    recall  f1-score   support

           0       0.92      1.00      0.96     23058
           1       0.19      0.01      0.01      2104

    accuracy                           0.91     25162
   macro avg       0.56      0.50      0.48     25162
weighted avg       0.86      0.91      0.88     25162

Acurácia para D: 0.9396709323583181
              precision    recall  f1-score   support

           0       0.95      0.98      0.97     23391
           1       0.62      0.36      0.46      1771

    accuracy                           0.94     25162
   macro avg       0.79      0.67      0.71     25162
weighted avg       0.93      0.94      0.93     25162

## 3. Identificação do Público-Alvo e Atribuição de Segmentos:

## 4. Sistema de Recomendação:
Agora, podemos criar regras de recomendação com base nos segmentos identificados.

In [14]:
df_pf

,ID Cliente,Linha de Ação,Produto GPOM,Classe de Serviço,Gênero,Cidade,Microrregião,Estado,Área de Atuação,Área de Atuação e Produto GPOM,Idade,Tempo de Contrato,TargetA,TargetB,TargetC,TargetD
0,56943,0,10,15,1,140,10,16,17,40,14,413,0,0,0,1
1,19906,0,17,9,0,140,10,16,17,47,41,346,0,0,0,0
2,19906,0,20,12,0,140,10,16,17,50,40,433,0,0,0,0
3,19906,0,20,12,0,140,10,16,17,50,41,346,0,0,0,0
4,6940,0,8,14,0,140,10,16,17,38,14,426,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83867,13908,0,30,39,1,44,30,16,14,86,41,176,0,0,0,0
83868,60900,0,1,1,1,222,6,16,7,17,29,11,1,0,0,0
83869,1045,0,1,1,1,135,20,21,2,13,19,85,1,0,0,0
83870,69940,0,1,1,1,306,24,16,20,30,30,4,1,0,0,0
83871,6950,0,30,39,0,457,13,16,23,94,45,0,0,0,0,0